<html>
  <head>
    <style>
      body {
        background-color: #ffffff;
        margin: 0;
        padding: 20px;
      }
      .whiteboard {
        background-color: #ffffff;
        padding: 20px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }
      .footer {
        text-align: center;
        font-size: 12px;
        color: #888888;
      }
    </style>
  </head>
  <body>
    <div class="whiteboard">
      <img src="https://kato-de.s3.ap-southeast-1.amazonaws.com/pngimg.com+-+welcome_PNG78.png" alt="Welcome" style="display: block; margin: 0 auto; width: 200px;">
      <p style="text-align: center;">Hi {{ username }}, thanks for the registration</p>
      <p style="text-align: center;">Click here to visit my Linkedin <a href="https://www.linkedin.com/in/katoo2706/">Visit my Linkedin</a></p>
      <p style="text-align: center;">Have a nice day!</p>
    </div>
    <div class="footer">
      Copyright by katoo2706 @2024, contact: <a href="mailto:katoo2706@gmail.com">katoo2706@gmail.com</a>
    </div>
  </body>
</html>
